html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


h1 {
    padding: 5px 0 8px 0;
    display: inline-block;
    color: #555;
    border-bottom: 3px solid #89f;
    margin-bottom: 1em;
}

/*  ==========================================================================
    Objects:Grids
    ==========================================================================

    These grids are mostly from css wizardry grids:- https://github.com/csswizardry/csswizardry-grids
    but there is also some stuff from an older version of SUIT grid component:- https://github.com/suitcss/components-grid

    Fluid and nestable grid system, e.g.:

    <div class="grid">

        <div class="grid__cell one-third">
            <p>One third grid</p>
        </div><!--

     --><div class="grid__cell two-thirds">
            <p>Two thirds grid</p>
        </div><!--

     --><div class="grid__cell one-half">
            <p>One half grid</p>
        </div><!--

     --><div class="grid__cell one-quarter">
            <p>One quarter grid</p>
        </div><!--

     --><div class="grid__cell one-quarter">
            <p>One quarter grid</p>
        </div>

    </div>

*/

/*
    All content must be contained within child Grid-cell elements.

    1.  Account for browser defaults of elements that might be the root node of
        the component.
*/
.grid {
    display: block; /* 1 */
    padding: 0; /* 1 */
    margin: 0; /* 1 */
    margin-left: -30px;
}


/*
    Very infrequently occurring grid wrappers as children of grid wrappers.
*/
.grid > .grid {
    margin-left: 0;
}

/*
    No explicit width by default. Rely on combining `Grid-cell` with a dimension
    utility or a component class that extends 'grid'.

    1. Fundamentals of the non-float grid layout.
    2. Controls vertical positioning of units.
    3. Make cells full-width by default.
*/
.grid__cell {
    display: inline-block; /* 1 */
    vertical-align: top; /* 2 */
    width: 100%; /* 3 */
    padding-left: 30px;
}

/*
    Gutterless grids have all the properties of regular grids, minus any spacing.
*/
.grid--full {
    margin-left: 0;    
}

.grid--full > .grid__cell {
        padding-left: 0;
}

/*
    Reversed grids allow you to structure your source in the opposite order to
    how your rendered layout will appear. Extends `.grid`.
*/
.grid--rev {
    direction: rtl;
    text-align: left;

    > .grid__cell {
        direction: ltr;
        text-align: left;
    }
}



/* 
    Add progressive flex-box 
*/

.grid--flex {
    display: flex;
    flex-flow: wrap;
}
.grid--flex .grid__cell { display: flex; }
.grid--flex .grid__cell > * { flex-grow: 1; }






/*
    Widths utility classes

    We Could combine these with a mixin to generate our widths and their breakpoint-specific variations.
*/

/*
    Standard
    -------------------------------------------------
*/
.u-1\/1             { width: 100% !important; }

/* Halves */
.u-1\/2             { width: 50% !important; }

/* Thirds */
.u-1\/3             { width: 33.333% !important; }
.u-2\/3             { width: 66.666% !important; }

/* Quarters */
.u-1\/4             { width: 25% !important; }
.u-2\/4             { width: 50% !important; }
.u-3\/4             { width: 75% !important; }

/* Fifths */
.u-1\/5             { width: 20% !important; }
.u-2\/5             { width: 40% !important; }
.u-3\/5             { width: 60% !important; }
.u-4\/5             { width: 80% !important; }

/* Sixths */
.u-1\/6             { width: 16.666% !important; }
.u-2\/6             { width: 33.333% !important; }
.u-3\/6             { width: 50% !important; }
.u-4\/6             { width: 66.666% !important; }
.u-5\/6             { width: 83.333% !important; }

/* Eighths */
.u-1\/8             { width: 12.5% !important; }
.u-2\/8             { width: 25% !important; }
.u-3\/8             { width: 37.5% !important; }
.u-4\/8             { width: 50% !important; }
.u-5\/8             { width: 62.5% !important; }
.u-6\/8             { width: 75% !important; }
.u-7\/8             { width: 87.5% !important; }

/* Tenths */
.u-1\/10            { width: 10% !important; }
.u-2\/10            { width: 20% !important; }
.u-3\/10            { width: 30% !important; }
.u-4\/10            { width: 40% !important; }
.u-5\/10            { width: 50% !important; }
.u-6\/10            { width: 60% !important; }
.u-7\/10            { width: 70% !important; }
.u-8\/10            { width: 80% !important; }
.u-8\/10            { width:90% !important; }

/* Twelfths */
.u-1\/12            { width: 8.333% !important; }
.u-2\/12            { width: 16.666% !important; }
.u-3\/12            { width: 25% !important; }
.u-4\/12            { width: 33.333% !important; }
.u-5\/12            { width: 41.666% !important; }
.u-6\/12            { width: 50% !important; }
.u-7\/12            { width: 58.333% !important; }
.u-8\/12            { width: 66.666% !important; }
.u-9\/12            { width: 75% !important; }
.u-10\/12           { width: 83.333% !important; }
.u-11\/12           { width: 91.666% !important; }

/*
    Medium
    -------------------------------------------------
*/
@media (min-width: 520px) {
    .u-1\/1--medium      { width: 100% !important; }

    /* Halves */
    .u-1\/2--medium      { width: 50% !important; }

    /* Thirds */
    .u-1\/3--medium      { width: 33.333% !important; }
    .u-2\/3--medium      { width: 66.666% !important; }

    /* Quarters */
    .u-1\/4--medium      { width: 25% !important; }
    .u-2\/4--medium      { width: 50% !important; }
    .u-3\/4--medium      { width: 75% !important; }

    /* Fifths */
    .u-1\/5--medium      { width: 20% !important; }
    .u-2\/5--medium      { width: 40% !important; }
    .u-3\/5--medium      { width: 60% !important; }
    .u-4\/5--medium      { width: 80% !important; }

    /* Sixths */
    .u-1\/6--medium      { width: 16.666% !important; }
    .u-2\/6--medium      { width: 33.333% !important; }
    .u-3\/6--medium      { width: 50% !important; }
    .u-4\/6--medium      { width: 66.666% !important; }
    .u-5\/6--medium      { width: 83.333% !important; }

    /* Eighths */
    .u-1\/8--medium      { width: 12.5% !important; }
    .u-2\/8--medium      { width: 25% !important; }
    .u-3\/8--medium      { width: 37.5% !important; }
    .u-4\/8--medium      { width: 50% !important; }
    .u-5\/8--medium      { width: 62.5% !important; }
    .u-6\/8--medium      { width: 75% !important; }
    .u-7\/8--medium      { width: 87.5% !important; }

    /* Tenths */
    .u-1\/10--medium      { width: 10% !important; }
    .u-2\/10--medium      { width: 20% !important; }
    .u-3\/10--medium      { width: 30% !important; }
    .u-4\/10--medium      { width: 40% !important; }
    .u-5\/10--medium      { width: 50% !important; }
    .u-6\/10--medium      { width: 60% !important; }
    .u-7\/10--medium      { width: 70% !important; }
    .u-8\/10--medium      { width: 80% !important; }
    .u-8\/10--medium      { width:90% !important; }

    /* Twelfths */
    .u-1\/12--medium      { width: 8.333% !important; }
    .u-2\/12--medium      { width: 16.666% !important; }
    .u-3\/12--medium      { width: 25% !important; }
    .u-4\/12--medium      { width: 33.333% !important; }
    .u-5\/12--medium      { width: 41.666% !important; }
    .u-6\/12--medium      { width: 50% !important; }
    .u-7\/12--medium      { width: 58.333% !important; }
    .u-8\/12--medium      { width: 66.666% !important; }
    .u-9\/12--medium      { width: 75% !important; }
    .u-10\/12--medium     { width: 83.333% !important; }
    .u-11\/12--medium     { width: 91.666% !important; }
}

/*
    Large
    -------------------------------------------------
*/
@media (min-width: 768px) {
    .u-1\/1--large      { width: 100% !important; }

    /* Halves */
    .u-1\/2--large      { width: 50% !important; }

    /* Thirds */
    .u-1\/3--large      { width: 33.333% !important; }
    .u-2\/3--large      { width: 66.666% !important; }

    /* Quarters */
    .u-1\/4--large      { width: 25% !important; }
    .u-2\/4--large      { width: 50% !important; }
    .u-3\/4--large      { width: 75% !important; }

    /* Fifths */
    .u-1\/5--large      { width: 20% !important; }
    .u-2\/5--large      { width: 40% !important; }
    .u-3\/5--large      { width: 60% !important; }
    .u-4\/5--large      { width: 80% !important; }

    /* Sixths */
    .u-1\/6--large      { width: 16.666% !important; }
    .u-2\/6--large      { width: 33.333% !important; }
    .u-3\/6--large      { width: 50% !important; }
    .u-4\/6--large      { width: 66.666% !important; }
    .u-5\/6--large      { width: 83.333% !important; }

    /* Eighths */
    .u-1\/8--large      { width: 12.5% !important; }
    .u-2\/8--large      { width: 25% !important; }
    .u-3\/8--large      { width: 37.5% !important; }
    .u-4\/8--large      { width: 50% !important; }
    .u-5\/8--large      { width: 62.5% !important; }
    .u-6\/8--large      { width: 75% !important; }
    .u-7\/8--large      { width: 87.5% !important; }

    /* Tenths */
    .u-1\/10--large      { width: 10% !important; }
    .u-2\/10--large      { width: 20% !important; }
    .u-3\/10--large      { width: 30% !important; }
    .u-4\/10--large      { width: 40% !important; }
    .u-5\/10--large      { width: 50% !important; }
    .u-6\/10--large      { width: 60% !important; }
    .u-7\/10--large      { width: 70% !important; }
    .u-8\/10--large      { width: 80% !important; }
    .u-8\/10--large      { width:90% !important; }

    /* Twelfths */
    .u-1\/12--large      { width: 8.333% !important; }
    .u-2\/12--large      { width: 16.666% !important; }
    .u-3\/12--large      { width: 25% !important; }
    .u-4\/12--large      { width: 33.333% !important; }
    .u-5\/12--large      { width: 41.666% !important; }
    .u-6\/12--large      { width: 50% !important; }
    .u-7\/12--large      { width: 58.333% !important; }
    .u-8\/12--large      { width: 66.666% !important; }
    .u-9\/12--large      { width: 75% !important; }
    .u-10\/12--large     { width: 83.333% !important; }
    .u-11\/12--large     { width: 91.666% !important; }
}



/*
    Larger
    -------------------------------------------------
*/
@media (min-width: 992px) {
    .u-1\/1--larger      { width: 100% !important; }

    /* Halves */
    .u-1\/2--larger      { width: 50% !important; }

    /* Thirds */
    .u-1\/3--larger      { width: 33.333% !important; }
    .u-2\/3--larger      { width: 66.666% !important; }

    /* Quarters */
    .u-1\/4--larger      { width: 25% !important; }
    .u-2\/4--larger      { width: 50% !important; }
    .u-3\/4--larger      { width: 75% !important; }

    /* Fifths */
    .u-1\/5--larger      { width: 20% !important; }
    .u-2\/5--larger      { width: 40% !important; }
    .u-3\/5--larger      { width: 60% !important; }
    .u-4\/5--larger      { width: 80% !important; }

    /* Sixths */
    .u-1\/6--larger      { width: 16.666% !important; }
    .u-2\/6--larger      { width: 33.333% !important; }
    .u-3\/6--larger      { width: 50% !important; }
    .u-4\/6--larger      { width: 66.666% !important; }
    .u-5\/6--larger      { width: 83.333% !important; }

    /* Eighths */
    .u-1\/8--larger      { width: 12.5% !important; }
    .u-2\/8--larger      { width: 25% !important; }
    .u-3\/8--larger      { width: 37.5% !important; }
    .u-4\/8--larger      { width: 50% !important; }
    .u-5\/8--larger      { width: 62.5% !important; }
    .u-6\/8--larger      { width: 75% !important; }
    .u-7\/8--larger      { width: 87.5% !important; }

    /* Tenths */
    .u-1\/10--larger      { width: 10% !important; }
    .u-2\/10--larger      { width: 20% !important; }
    .u-3\/10--larger      { width: 30% !important; }
    .u-4\/10--larger      { width: 40% !important; }
    .u-5\/10--larger      { width: 50% !important; }
    .u-6\/10--larger      { width: 60% !important; }
    .u-7\/10--larger      { width: 70% !important; }
    .u-8\/10--larger      { width: 80% !important; }
    .u-8\/10--larger      { width:90% !important; }

    /* Twelfths */
    .u-1\/12--larger      { width: 8.333% !important; }
    .u-2\/12--larger      { width: 16.666% !important; }
    .u-3\/12--larger      { width: 25% !important; }
    .u-4\/12--larger      { width: 33.333% !important; }
    .u-5\/12--larger      { width: 41.666% !important; }
    .u-6\/12--larger      { width: 50% !important; }
    .u-7\/12--larger      { width: 58.333% !important; }
    .u-8\/12--larger      { width: 66.666% !important; }
    .u-9\/12--larger      { width: 75% !important; }
    .u-10\/12--larger     { width: 83.333% !important; }
    .u-11\/12--larger     { width: 91.666% !important; }
}





/*
    Largest
    -------------------------------------------------
*/
@media (min-width: 1200px) {
    .u-1\/1--largest      { width: 100% !important; }

    /* Halves */
    .u-1\/2--largest      { width: 50% !important; }

    /* Thirds */
    .u-1\/3--largest      { width: 33.333% !important; }
    .u-2\/3--largest      { width: 66.666% !important; }

    /* Quarters */
    .u-1\/4--largest      { width: 25% !important; }
    .u-2\/4--largest      { width: 50% !important; }
    .u-3\/4--largest      { width: 75% !important; }

    /* Fifths */
    .u-1\/5--largest      { width: 20% !important; }
    .u-2\/5--largest      { width: 40% !important; }
    .u-3\/5--largest      { width: 60% !important; }
    .u-4\/5--largest      { width: 80% !important; }

    /* Sixths */
    .u-1\/6--largest      { width: 16.666% !important; }
    .u-2\/6--largest      { width: 33.333% !important; }
    .u-3\/6--largest      { width: 50% !important; }
    .u-4\/6--largest      { width: 66.666% !important; }
    .u-5\/6--largest      { width: 83.333% !important; }

    /* Eighths */
    .u-1\/8--largest      { width: 12.5% !important; }
    .u-2\/8--largest      { width: 25% !important; }
    .u-3\/8--largest      { width: 37.5% !important; }
    .u-4\/8--largest      { width: 50% !important; }
    .u-5\/8--largest      { width: 62.5% !important; }
    .u-6\/8--largest      { width: 75% !important; }
    .u-7\/8--largest      { width: 87.5% !important; }

    /* Tenths */
    .u-1\/10--largest      { width: 10% !important; }
    .u-2\/10--largest      { width: 20% !important; }
    .u-3\/10--largest      { width: 30% !important; }
    .u-4\/10--largest      { width: 40% !important; }
    .u-5\/10--largest      { width: 50% !important; }
    .u-6\/10--largest      { width: 60% !important; }
    .u-7\/10--largest      { width: 70% !important; }
    .u-8\/10--largest      { width: 80% !important; }
    .u-8\/10--largest      { width:90% !important; }

    /* Twelfths */
    .u-1\/12--largest      { width: 8.333% !important; }
    .u-2\/12--largest      { width: 16.666% !important; }
    .u-3\/12--largest      { width: 25% !important; }
    .u-4\/12--largest      { width: 33.333% !important; }
    .u-5\/12--largest      { width: 41.666% !important; }
    .u-6\/12--largest      { width: 50% !important; }
    .u-7\/12--largest      { width: 58.333% !important; }
    .u-8\/12--largest      { width: 66.666% !important; }
    .u-9\/12--largest      { width: 75% !important; }
    .u-10\/12--largest     { width: 83.333% !important; }
    .u-11\/12--largest     { width: 91.666% !important; }
}