body {
	margin: 20px;
}
.main {
	margin-top: 50px;
}
h1 {
    font-size: 26px;
}
h2 {
	margin-top: 0;
	font-size: 20px;
}
.form-control {
	width: 100px;
	display: inline;
	padding: 0;
	height: 26px;
}
.spacer {
    margin-top: 40px;
}
.gutter-left {
	margin-left: 20px;
}
.btn {
	margin: 5px;
	padding: 4px 6px;
	font-weight: bold;
}
sub {
	margin-left: 4px;
	font-size: 9px;
}
.def {
	margin: 12px;
}
label {
	margin-right: 10px;
}
.word {
	font-size: 30px;
	letter-spacing: 2px;
	font-family: monospace;
}
