html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {    
	margin: 20px;
    font-family: "Neue Helvetica", arial, sans-serif;
    line-height: 1.5em;
}

ul {
    list-style: none;
}


/* global */

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

h1 {
    padding: 5px 0 8px 0;
    display: inline-block;
    color: #555;
    border-bottom: 3px solid goldenrod;
    margin-bottom: 1em;
}

p {
    line-height: 1.4em;
}

a:link, a:hover, a:active, a:visited {
    border-bottom: #cdcdff solid 1px;
    text-decoration: none;
}

a:link{
    color: #4e3ddb;

}

a:visited, a:hover,  a:active {
    color: #21176f;
}

.row.v-pad {
    padding-top: 10px;
    padding-bottom: 10px;
}
.row.v-pad-top-40 {
    padding-top: 40px;
}

.success {
    color: #2a2;
    font-weight: bold;
}

img.responsive {
    max-width: 100%;
    height: auto;
}

.container-admin {
    margin-top: 38px;
}

.nav-admin {
    padding: 0;
}

.nav-admin li {
    display: inline-block;
    margin-right: 8px;
}

.nav-admin li button {
    border-radius: 8px;
}

.form--add {
    max-width: 750px;
}

.form--control {
    margin-bottom: 1em;
}
.form--control label, .outer-label{
    width: 150px;
    text-align: right;
    margin-right: 10px;
}



.form--control radiogroup label {
    display: block;
    text-align: left;
    width: auto;
}

.form--control.marg-left {
    padding-left: 160px;
}

.outer-label {
    font-weight: bold;
}

radiogroup input {
    width: 25px;
    padding-right: 5px;
}

.v-top {
    vertical-align: top;
}

.btn--submit {
    font-weight: bold;
    color: white;
    background: #89f;
}

.btn--submit:active {
    background: #67d;
    color: #ccc;
}

.btn--submit:hover {
    background: #45b;
    color: white;
}

.logo {
    display: inline-block;
}

.header {
    position: relative;
}



h1.title {
    display: inline-block;
    position: absolute;
    left: 220px;
    bottom: 5px;
}


.dummy {
    color: #605b56;
    color: #837a75;
    color: #95c14f;
    color: #edff7a;
    color: #f2fbe0;
}

.text--centered {
    text-align: center;
}


body {
    color: #483c32;;
   /* font-family: "Trebuchet MS", Georgia, serif;*/
    /*letter-spacing: 0.3px;*/
    font-family: Helvetica, arial, sans-serif;
    font-size: 16px;
}



/*
---------------------
---- RESOURCE ---------
---------------------
*/

@import "partials/resource";


/*
---------------------
---- SEARCH ---------
---------------------
*/
.search-component {
    background-color: goldenrod;
    padding: 20px;
    margin-bottom: 30px;
}

.search-input {
    width: 70%;
    margin-bottom: 10px;
}

/* Base classes for all media */

/*
---------------------
---- RESULTS ---------
---------------------
*/
.select-view {
    margin-bottom: 20px;
}

.grid_container {
	display: grid;
	width: 100%;
	grid-template-columns: 1fr;
  	align-items: start;
	justify-content: space-between;

	&.info {
		grid-template-columns: 1fr 1fr 2fr;
	}
}

.grid_cell {
	max-width: 380px;
    padding: 1em;
}

@media (min-width: 700px) {
	.grid_container {
		grid-template-columns: 1fr 1fr;
	}
}

@media (min-width: 1000px) {
    body {
        font-size: 18px;
    }

    h1 {
        font-size: 2em;
    }

    p {
        line-height: 1.5em;
    }

	.grid_container {
		grid-template-columns: 1fr 1fr 1fr;
	}
}


/*
-----------------
------ LOGIN ----
-----------------
*/


.login-bar {
    border: 2px solid #999;
    border-radius: 8px;
    width: 120px;
    position: absolute;
    right: 40px;
    background: url('/assets/img/GitHub-Mark-32px.png') no-repeat 80px;
    &.left {
        position: static;
    }
    &.logout {
        background: #eee;
    }
}

.under-login {
    margin-top: 80px;
}

